<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.4.1.js}" type="text/javascript"></script>
</head>
<body>
<div>
    <form th:action="@{/loginServlet}" th:method="${methodAttr}">
        <input th:type="text" th:name="@{paramname}" th:value="uservalue"><br>
        <input type="button" id="btn" th:onclick="btnClick()" value="按钮">
    </form>
<p th:style="${textcolor}">这是模板的例子</p>
</div>
</body>
<script type="text/javascript">
    function btnClick() {
        alert("按钮被单击")
    }
    $(function(){
        $("#btn").click(function(){
            alert("按钮被单击hahaha")
        })
    })
</script>
</html>